FACEBOOK_ID=xxxxxxxxxxxx
FACEBOOK_SECRET=xxxxxxxxxxxxxxxxxxxxxxx
GITHUB_ID=xxxxxxxxxxxx
GITHUB_SECRET=xxxxxxxxxxxx
NEXTAUTH_URL=http://192.168.56.224:3000/
NEXTAUTH_SECRET=run this at shell and copy here ${openssl rand -base64 32}